[submodule "caravel-lite"]
	path = caravel
	url = https://github.com/efabless/caravel-lite
[submodule "verilog/rtl/sudoku_accelerator"]
	path = verilog/rtl/sudoku_accelerator
	url = https://github.com/anall/sudoku-accelerator.git
